body {
  margin: 0;
}

.top {
  background-image: url('../images/backdrop.jpg');
  text-align: center;
}

.resume {
  position: fixed;
  right: 1em;
  top: 0.5em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  height: 0;
  line-height: 0;
  color: #FFFFFF;
  font-family: Montserrat, sans-serif;
  width: 200px;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  background-color: #3F72AF;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: thin;
}

.resume:hover {
  background: #112D4E;
  border: solid #112D4E 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}

.fname {
  padding-top: 30px;
  margin-bottom: -80px;
}

.lname {
  margin-top: -60px;
}

.letters-of-name {
  color: #3f72af;
  margin-top: 20px;
  font-family: VT323, monospace;
  font-size: 5.23em;
  letter-spacing: 15px;
  margin: 0 auto 0;
  font-weight: bolder;
}

.letters-of-name:hover {
  color: #112d4e;
  font-weight: 700;
}

.links {
  text-decoration: none;
}

.icons {
  height: 50px;
  width: 50px;
  margin: -10px 15px 20px;
}

.icons:hover {
  transform: scale(1.2);
}

.arrow-box {
  margin: 20px 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.arrow {
  height: 50px;
  width: 50px;
}




.middle {
  text-align: center;
}




.bottom {
  text-align: center;
}
