.AppHeader {
  background-color: #FF7F50;
  font-family: 'Roboto', sans-serif;
  /* max-width: 1000px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.AppBody {
  font-family: 'Roboto', sans-serif;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.AppFooter {
  background-color: #FF7F50;
  font-family: 'Roboto', sans-serif;
  /* max-width: 1000px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  color: #4d4d4d;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #666666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.Navbar {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 20px;
  text-align: right;
}

.Name{
  color: white;
  font-size: 28px;
  margin-right: 20px;
}

.NavLink {
  color: white;
  font-size: 18px;
  margin-right: 20px;
  text-decoration: none;
}

.Navbar a:hover {
  color: #FF4500;
}

